header{
 }
a:link, a:visited{
      background-color: black;
      color: white;
      padding: 20px 20px;
         text-align: center;
         display: inline-block;
         position: relative;
         left: 90px;
         bottom: 100px;
         margin-left: 20px;
         border-radius: 10px;
         margin-bottom: 50px;
         text-decoration: none;
         transition-duration: 0.3s;
    }
    img{
      height:200px;
      padding-top: 25px;
       width: 350px;
             padding: 10px;
    }
form {
max-width: 800px;
margin: 0 auto;
padding: 20px;
background-color: lightcyan;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

input[type=text], select, textarea {
width: 100%;
padding: 10px;
border: 1px solid #ccc;
border-radius: 4px;
resize: vertical;
}

input[type=submit] {
background-color: #4CAF50;
color: white;
padding: 13px 20px;
border: none;
border-radius: 4px;
cursor: pointer;
}

input[type=submit]:hover {
background-color: #45a049;
}